<div class="centeredFlex">
    <div class="centeredFlexContent">
    <h1>
        {{title}}
    </h1>
    <form>
        {{#each inputs}}
            {{{this}}}
        {{/each}}
        {{{submitBtn}}}
    </form>
    {{{linkToRegister}}}
    </div>
</div>