<div class="centeredFlex errorPage">
    <h1>{{code}}</h1>
    <p>
        {{#if text}}
            {{text}}
        {{else}}
            Мы уже фиксим
        {{/if}}
    </p>
    <a href="/#chats">Назад к чатам</a>
</div>