@import "fonts/Inter/inter.css";

* {
  box-sizing: border-box;
  color: #1E1E1E;
  font-family: 'Inter', serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 0;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.4);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
input {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  border-bottom: 1px solid #3369F3;
  padding: 7px 0;
  width: 100%;

  ::placeholder {
    font-family: 'Inter', serif;
    font-style: normal;
    color: #999999;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  :focus {
    outline: none;
  }
}

.inputContainer {
  display: flex;
  position: relative;


}

// @TODO включить когда можно будет управлять value инпута
//.inputContainer input:not([value=""]) ~ label {
//    transform: translateY(-20px);
//    top: -5px;
//    font-size: 9px;
//}

input:focus ~ label {
  transform: translateY(0px);
  top: -5px;
  font-size: 9px;
}

/* Заголовки 404, 500 и тд*/
h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
}

/* Вход, регистрация, мы уже фиксим и тд*/
h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}


label {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #999999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .5s;
}


a {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #3369F3;

  :visited {
    color: #3369F3;
  }
}

a, button {
  cursor: pointer;

  &:hover {
    opacity: .9;
  }

  &:active {
    opacity: .7;
  }

}

.centeredFlex {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.centeredFlexContent {
  align-items: center;
  padding: 50px 30px 30px;
  justify-content: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  width: 340px;
  display: flex;
  min-height: 450px;

  h2 {
    margin-bottom: 40px;
  }

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    justify-content: space-between;
  }

  a {
    margin-top: 14px;
  }
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.formButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 8px;
  padding: 12px 0;
  width: 100%;
  max-width: 280px;
  background: #3369F3;
  color: white;
}


.chat {
  width: 100%;
  height: 100%;
  display: flex;
}

.contacts {
  display: flex;
  height: 100%;
  width: 310px;
  flex-direction: column;
  border-right: 1px solid rgba(0,0,0,.2);
  .searchContainer {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
  input {
    border: none;
    background: rgba(0,0,0,.1);
    border-radius: 8px;
    padding: 8px 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: overlay;
  }
  li {
    display: flex;
    padding: 20px;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0,0,0,.2);
    }
  }
}

.messages {
  display: flex;
  flex-grow: 1;
  height: 100%;
}
