@import "fonts/Inter/inter.css";

* {
  box-sizing: border-box;
  color: #1E1E1E;
  font-family: 'Inter', serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 0;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.4);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
input {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  border-bottom: 1px solid #3369F3;
  padding: 7px 0;
  width: 100%;

  ::placeholder {
    font-family: 'Inter', serif;
    font-style: normal;
    color: #999999;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  :focus {
    outline: none;
  }
}

.inputContainer {
  display: flex;
  position: relative;
flex-direction: column;

}

.textRed {
  color: #FF0000;
}
.inputErrorText {
  color: #FF2F2F;
}
.inputError {
  margin-top: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  color: #FF2F2F;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label,  {
  transform: translateY(0px);
  top: -5px;
  font-size: 9px;
}

/* Заголовки 404, 500 и тд*/
h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
}

/* Вход, регистрация, мы уже фиксим и тд*/
h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

/* Имя пользователя в профиле */
h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}


label {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #999999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .5s;
}


a {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #3369F3;

  .disabled {
    color: #999;
    pointer-events: none;
  }

  :visited {
    color: #3369F3;
  }
}

a, button {
  cursor: pointer;

  &:hover {
    opacity: .9;
  }

  &:active {
    opacity: .7;
  }

}

.centeredFlex {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.centeredFlexContent {
  align-items: center;
  padding: 50px 30px 30px;
  justify-content: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  width: 340px;
  display: flex;
  min-height: 450px;

  h2 {
    margin-bottom: 40px;
  }

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    justify-content: space-between;
  }

  a {
    margin-top: 14px;
  }
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.formButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 8px;
  padding: 12px 0;
  width: 100%;
  max-width: 280px;
  background: #3369F3;
  color: white;
}


.chat {
  width: 100%;
  height: 100%;
  display: flex;
}

.linkToProfile {
  width: 66px;
  margin: 20px 10px 10px 0;
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  background: center right no-repeat url('./icons/ArrowRight.svg');

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #999999;

}

.selectedChat {
  background: #E4EDFD;
}

.contacts {
  display: flex;
  height: 100%;
  width: 310px;
  flex-direction: column;
  border-right: 1px solid rgba(0,0,0,.2);
  background: #FBFBFB;
  .searchContainer {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
  input {
    border: none;
    background: rgba(0, 0, 0, .1) url('./icons/Search.svg') no-repeat left 5px center;
    border-radius: 8px;
    padding: 8px 10px 9px 30px;

  }

  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: overlay;
  }
  li {
    display: flex;
    padding: 20px;
    cursor: pointer;

      border-bottom: 1px solid rgba(0,0,0,.2);

  }
}

.messages {

  flex-grow: 1;
  height: 100%;
  padding: 30px 20px;
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    overflow-y: scroll;
  }
}
.message {
  display: flex;
  padding: 11px 40px 20px 11px;
  position: relative;
  border-radius: 0 12px 12px 12px;
  background: #F8F8F8;
  align-self: flex-start;
  width: fit-content;
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #1E1E1E;
  }
  .messageTime {
    color: #999999;
  }
}

.messageTime {
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  display: flex;
  position: absolute;
  right: 11px;
  bottom: 9px;
  color: #999999;
}

.messageMine {
  align-self: flex-end;
  background: #E4EDFD;
  border-radius: 12px 12px 0 12px;
  .messageTime {
    color: #3369F3;
  }

}



.messageImage {
  border: 1px solid #EAEAEA;
  border-radius: 12px;
  background: white;
  padding: 0;
max-width: 350px;
max-height: 300px;

  overflow: hidden;
  .readIcon {
    display: none;
  }
  img {
    object-fit: scale-down;
    object-position: top left;
  }
  .messageTime {
    background: rgba(82, 82, 82, 0.5);
    border-radius: 30px;
    color: white;
    padding: 2px 7px;
  }
}


.readIcon {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 40px;
  background: center no-repeat url('./icons/MessageRead.svg');
  width: 11px;
  height: 5px;
}

.profileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 510px;
}

.goBackLink {
  display: flex;
  background: #FBFBFB center no-repeat url('./icons/GoBackCircle.svg');
  width: 64px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.emptyAvatar {
  display: flex;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #EFEFEF center no-repeat url('./icons/EmptyAvatar.svg');
}